@using Umbraco_9Project.ModelBuilder.ModelsBuilder
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var homePage = Model.AncestorOrSelf<HomePage>();
}

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand font-weight-bold" href="/">Flower Shop</a>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
				
		<ul class="navbar-nav">
			@foreach(var p in homePage.Children)
				{
					<li class="nav-item">
					    <a class="nav-link" href="@p.Url()">@p.Name</a>
					</li>
				}
				</ul>
	</nav>
		
	