@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var selection = Umbraco.Content(Guid.Parse("6f8cc44e-3264-461f-8fb3-6036cfc81c60"))
			.ChildrenOfType("product")
			.Where(x => x.IsVisible())
			.OrderByDescending(x => x.CreateDate)
			.Take(3);
}

<div class="container ">
	<div class="row">
		<div class="col">
			<div class="card-deck">
				@foreach (var product in selection)
				{
					var photo = product.Value<IPublishedContent>("photo");
					<a href="@product.Url()">
						<img class="card-image-top"src="@($"{photo.Url()}?width=320&height=200")" alt="product-image">
						<div class="col">
							<h1 class="product-title">@product.Name</h1>
						</div>	
					</a>
				}
			</div>
		</div>
	</div>
</div>